.container {
    padding: 2rem 5rem; 
    max-width: 1200px;
    margin: 0 auto;
    font-family: 'Poppins', sans-serif;
    background-color: #000;
    color: #e0e0e0; 
    border-radius: 10px;
    box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.2);
}

.title {
    text-align: center;
    color: #58CCE9; 
    font-size: 3rem; 
    margin-bottom: 2rem;
}

.subtitle {
    font-size: 1.8rem; 
    margin-top: 2rem;
    color: #58CCE9; 
}

p {
    font-size: 1.2rem;
    line-height: 2rem; 
    color: #e0e0e0; 
}

a {
    color: #58CCE9; 
    text-decoration: underline;
    cursor: pointer;
}

.emailLink:hover {
    color: #45a8bf;
    text-decoration: none;
}

.list {
    padding-left: 1.5rem; 
    list-style-type: disc; 
    line-height: 2rem; 
    color: #e0e0e0;
}

@media (max-width: 768px) {
    .container {
        padding: 1.5rem 2rem;
        max-width: 100%; 
    }

    .title {
        font-size: 2.5rem; 
        margin-bottom: 1.5rem;
    }

    .subtitle {
        font-size: 1.5rem; 
        margin-top: 1.5rem;
    }

    p {
        font-size: 1.1rem; 
        line-height: 1.6rem; 
    }

    a {
        font-size: 1.1rem; 
    }

    .list {
        padding-left: 1rem; 
        line-height: 1.8rem; 
    }
}
